<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios web para configurar los valores de la aplicación. Utilice
    la opción Sitio web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DLLGestionVenta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log_ave.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="test"/>
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="error"/>
      </filter>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>

  <appSettings>
    <add key="Pedidos.UnidadesDefault" value="1" />
    <add key="Foto.RutaVision" value="./img/noImagen.jpg" />
    <add key="Foto.RutaLocal" value="http://184.154.192.194/fotos_moddovision/ninewestmex/Fotos" />
    <add key="Foto.RutaLocalHermes" value="/images/articulos-nuevo/188/{0}/1-Z.jpg" />
    <!--<add key="Foto.RutaLocal" value="./img/02/005KARMAL.jpg"/>-->
    <add key="ModoNormal" value="1" />
    <add key="ModoCiego" value="2" />
    <add key="BloqueInicial" value="B1" />
    <add key="TiempoRefresco" value="18000" />
    <add key="TarjetaTipo" value="MODDOCARD" />
    <add key="GastosEnvioHERMES" value="20" />
    <add key="UserACPiagui" value="zapagestion"/>
    <add key="PassACPiagui" value="zgMX14"/>
    <add key="URL_WS_C9" value="https://test.nexuscom.com.ar:8443/fnet3web/fnet3_nineWestWS/FNET3_NINEWEST.wsdl" />
    <add key="UserHERMESWS" value="manuel"/>
    <add key="PassHERMESWS" value="soria"/>
    <add key="IdSiteHERMESWS" value="188"/>
    <add key="UserThinkRetail" value="thinkretail"/>
    <add key="PassThinkRetail" value="qa"/>
    <add key="UrlImagenesHermes" value="http://zapaqa"/>
    <add key="UrlHermes" value="http://mypiagui.com:888/" />
    <add key="IdAlmacenCentral" value="T-0270" />
    <add key="NotaEmpleado" value="1" />
    <add key="Cn_Hermes" value="Server=192.168.110.230\THINKRETAIL,1433;Database=Hermes;Uid=sa;Pwd=Moddo77;"/>
    <!--<add key="PaginaHermesToLogin" value="/Pagina.jsp?IdUser={0}"/> -->
    <!--La unidad es en milisegundos los 180000 son 3 minutos -->
  </appSettings>

  <connectionStrings>
    <add name="MC_TDAConnectionString" connectionString="Data Source=DESARROLLO98\TPVGESTION2008R2;Initial Catalog=BDMARIO;Persist Security Info=True;User ID=sa;Password=moddo" providerName="System.Data.SqlClient" />
    <add name="Pagos_MIT" connectionString="Data Source=DESARROLLO98\TPVGESTION2008R2;Initial Catalog=Pagos_MIT;User ID=sa;Password=moddo" providerName="System.Data.SqlClient" />
    <add name="Hermes" connectionString ="Data Source=192.168.110.230\THINKRETAIL,1433;Initial Catalog=Hermes;user ID=sa; Password=Moddo77" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization culture="es-MX" uiCulture="es-MX" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <browserCaps userAgentCacheKeyLength="256" />
    <membership defaultProvider="AVECustomMembershipProvider" userIsOnlineTimeWindow="7200">
      <providers>
        <clear />
        <add name="AVECustomMembershipProvider" type="AVE.AVECustomMembershipProvider" applicationName="/" />
      </providers>
    </membership>
    <!-- userIsOnlineTimeWindow="120"-->
    <!--<membership defaultProvider="ProveedorMembresia" userIsOnlineTimeWindow="7200">
      <providers>
        <clear/>
        <add name="ProveedorMembresia" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="MembershipConnectionString" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="CPW" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ProveedorRoles" enabled="true" cacheRolesInCookie="true" cookieName=".ASPXROLES">
      <providers>
        <clear/>
        <add name="ProveedorRoles" type="System.Web.Security.SqlRoleProvider" connectionStringName="MembershipConnectionString" applicationName="CPW"/>
      </providers>
    </roleManager>-->
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <sessionState mode="InProc" cookieless="false" timeout="29" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Inicio.aspx" timeout="25"/>
    </authentication>
    <!--<anonymousIdentification cookieless="UseCookies" enabled="false" />-->
    <authorization>
      <deny users="?" />
    </authorization>
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.
        -->
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- Seguridad específica de páginas -->
  <!-- Configuración es solo para responsables-->
  <location path="Configuraciones.aspx">
    <system.web>
      <authorization>
        <allow roles="gerente,responsable" />
        <deny users="?" roles="usuario" />
      </authorization>
    </system.web>
  </location>
  <location path="CarritoDetalleHERMES.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="LoginThinkRetail.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- El registro no conlleva ninguna funcionalidad de lectura/escritura de datos, por lo que no hay inconveniente en dejarla abierta
         Si se limita a usuarios logados nos da problemas al introducir la comprobación de que el idTerminal existe, que se hace durante 
         el proceso de login-->
  <location path="RegistroTerminal.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <!--Dessen 30/08/2013 PAra poder acceder a las paginas desde Tablet-->
  <location path="inicio.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Buscar.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="SolicitudesAlmacen.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Pedidos.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="EleccionProducto.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="StockEnTienda.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="CargosEntrada.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Inventarios.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="PedidosEntrada.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Cargos.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="css/estilos.css">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="img">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="log_ave.log">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" >
    </serviceHostingEnvironment>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CarritoAVE_WS_Behavior">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="LoadTicketSoap11" />
        <binding name="CarritoAVE_WS_Binding" closeTimeout="00:01:00" openTimeout="00:01:00"
         receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
         bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
         maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
         textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
         messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <binding name="SModdoOnlineSoap" />
        <binding name="wsThinkRetailSoap" />
        <binding name="HermesImplSoapBinding" />
      </basicHttpBinding>      
    </bindings>
    <services>
      <service name="Servicios.CarritoAVE_WS">
        <endpoint
           address=""
           binding="basicHttpBinding"
           bindingConfiguration="CarritoAVE_WS_Binding"
           contract="AVE.Servicios.ICarritoAVE_WS"
           behaviorConfiguration="CarritoAVE_WS_Behavior" />
      </service>
    </services>
    <client>
      <!--DESARROLLO WS ONLINE-->
      <endpoint address="http://localhost:50505/SModdoOnline.asmx"
                binding="basicHttpBinding" bindingConfiguration="SModdoOnlineSoap"
                contract="ServicioModdoOnline.SModdoOnlineSoap" name="SModdoOnlineSoap" />
      <endpoint address="http://mypiagui.com:1090/wsThingRetail.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsThinkRetailSoap"
          contract="ThinkRetailServiceReference.wsThinkRetailSoap" name="wsThinkRetailSoap" />
      
      <endpoint address="http://mypiagui.com:888/hermesService/services/HermesImpl"
          binding="basicHttpBinding" bindingConfiguration="HermesImplSoapBinding"
          contract="HermesModaliaWebServiceReference.HermesImpl" name="HermesImpl" />

      <!-- DESARROLLO ENVIO DE TICKETS-->
      <endpoint address="http://200.110.137.180:80/fnet3web/interfaces"
        binding="basicHttpBinding" bindingConfiguration="LoadTicketSoap11"
        contract="ServiceReference1.LoadTicket" name="LoadTicketSoap11" />
      <!--PRODUCCION ENVIO DE TICKETS-->
      <!--<endpoint address="http://200.110.137.180:80/fnet3web/interfaces"
        binding="basicHttpBinding" bindingConfiguration="LoadTicketSoap11"
        contract="ServiceReference1.LoadTicket" name="LoadTicketSoap11" />-->
    </client>
  </system.serviceModel>
  <applicationSettings>
    <DLLGestionVenta.Properties.Settings>
      <setting name="DLLGestionVenta_AlmacenCentralPiaguiServiceReference_wsAlmacenCentral"
          serializeAs="String">
        <value>http://mypiagui.com:800/wsAlmacenCentral.asmx</value>
      </setting>
    </DLLGestionVenta.Properties.Settings>
  </applicationSettings>
</configuration>