<connectionStrings>
  <add name="MC_TDAConnectionString" connectionString="Data Source=DESARROLLO98\TPVGESTION2008R2;Initial Catalog=TRETAIL;Persist Security Info=True;User ID=sa;Password=moddo" providerName="System.Data.SqlClient" />
  <add name="Pagos_MIT" connectionString="Data Source=DESARROLLO98\TPVGESTION2008R2;Initial Catalog=Pagos_MIT;User ID=sa;Password=moddo" providerName="System.Data.SqlClient" />
 <!--add name="MC_TDAConnectionString" connectionString="Data Source=79.99.212.61;Initial Catalog=AVE_PIAGUI;Persist Security Info=True;User ID=Accesoconsulta;Password=km5GqreEZkaR" providerName="System.Data.SqlClient" />-->
    <!--add name="Pagos_MIT" connectionString="Data Source=79.99.212.61;Initial Catalog=Pagos_MIT;User ID=Accesoconsulta;Password=km5GqreEZkaR" providerName="System.Data.SqlClient" />-->
  </connectionStrings>